sudo: false
language: ruby
rvm:
  - 2.6.3
branches:
  only:
    - master
cache: bundler
before_install:
  - travis_retry gem update --system
  - travis_retry gem install bundler awesome_bot
install:
  - travis_retry bundle install
  - travis_retry bundle update
  - awesome_bot README.md
notifications:
  email: false
